<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Your Budget</title>
<script th:include="fragments/header :: headerScripts" th:remove="tag"></script>
<link rel="stylesheet" type="text/css"
	href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<style type="text/css">
	.link {
		cursor: pointer;
		color: blue;
	}
	
	.link:hover {
		color: #0056b3;
		text-decoration: underline;
	}
</style>
</head>
<body>

	<div class="card">
		<div class="card-header">
			<div class="row">
			<div class="col-10 col-md-11">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb h3">
						<li class="breadcrumb-item"><a href="/budgets">Budgets</a></li>
						<li class="breadcrumb-item active" aria-current="page"
							th:text="${budget.name}"></li>
					</ol>
				</nav>
				</div>
				<div class="col-2 col-md-1">
			<form id="addTranscationForm" th:action="@{/budgets/{budgetId}/transactions(budgetId=${budget.id})}" method="post">
				<i id="addTranscation" class="fas fa-plus-circle fa-2x" style="cursor: pointer;"></i>
			</form>
			</div>
			</div>
		</div>



		<div class="card-body">
			<div class="alert alert-light link" role="alert" id="dateRange">
				<span class="h5" th:inline="text" id="startDate">
					[[${#temporals.format(budget.startDate,'MMMM d, yyyy')}]] - </span> <span
					class="h5" th:inline="text" id="endDate">
					[[${#temporals.format(budget.endDate,'MMMM d, yyyy')}]] </span>
			</div>
			<div th:each="group : ${budget.groups}">
				<div class="card mb-4">
					<div class="card-header">
						<h4 th:if="${!#strings.isEmpty(group.name)}">
							<a
								th:href="@{/budgets/{budgetId}/groups/{groupId}(budgetId=${budget.id},groupId=${group.id})}"
								th:text="${group.name}"></a>
						</h4>
						<h4 th:if="${#strings.isEmpty(group.name)}">
							<a
								th:href="@{/budgets/{budgetId}/groups/{groupId}(budgetId=${budget.id},groupId=${group.id})}">Unnamed
								Group</a>
						</h4>
					</div>
					<div class="card-body">
					 <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Category</th>
                    <th scope="col">Planned</th>
                    <th scope="col">Spent</th>
                    <th scope="col">Remaining</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="category : ${group.categories}">
                    <td scope="row"><a th:href="@{/budgets/{budgetId}/groups/{groupId}/categories/{categoryId}(budgetId=${budget.id},groupId=${group.id},categoryId=${category.id})}" th:text="${category.name}"></a></td>
                    <td th:text="|$${#numbers.formatDecimal(category.budget, 0, 'COMMA', 2, 'POINT')}|">$1,000</td>
                    <td th:text="|$${#numbers.formatDecimal(category.spent, 0, 'COMMA', 2, 'POINT')}|">$400</td>
                    <td th:text="|$${#numbers.formatDecimal(category.remaining, 0, 'COMMA', 2, 'POINT')}|">$600</td>
                  </tr>
                </tbody>
              </table>
						
					
						<form class="mt-4"
							th:action="@{/budgets/{budgetId}/groups/{groupId}/categories(budgetId=${budget.id},groupId=${group.id})}"
							method="post">
							<button class="btn btn-primary">Create New Category</button>
						</form>
					</div>
				</div>
			</div>
			<div class="row" style="margin-top: 1em;">
				<div class="col">
					<form
						th:action="@{/budgets/{budgetId}/groups(budgetId=${budget.id})}"
						method="post">
						<button type="submit" class="btn btn-primary">Create
							Group</button>
					</form>
				</div>
			</div>

		</div>

	</div>
	<script th:include="fragments/header :: footerScripts" th:remove="tag"></script>
	<script type="text/javascript"
		src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
	<script type="text/javascript"
		src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
	  <script th:inline="javascript">
      //<![CDATA[
      $(function () {
    	$('#dateRange').daterangepicker({
    		
    	}, function (start, end, label) {
          console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
		  $.ajax({
			url: '',
			data: {
			  "startDate" : start.format('YYYY-MM-DD'),
			  "endDate" : end.format('YYYY-MM-DD')
			},
			type: 'json',
			method: 'put',
			success: function () {
		      $("#startDate").text(start.format('MMMM D, YYYY') + " - ");
		      $("#endDate").text(end.format('MMMM D, YYYY'))
			},
			error : function (error) {
		      console.log(error);
			}
		  })
    		
    	});
      });
      
      $("#addTranscation").click(function(){
    	  let hasCategories= /*[[${hasCategories}]]*/ false;
    	  let budgetId=/*[[${budget.id}]]*/ 0;
    	  if(hasCategories)
    		  $("#addTranscationForm").submit();
    	  else
    		  alert("You must create a category before you can add a transcation to your budget.")
      })
      //]]> 
    </script>
</body>
</html>